<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>JEEprojet</servlet-name>
        <servlet-class>Servlets.JEEprojet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojet</servlet-name>
        <url-pattern>/JEEprojet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetaccueiladmin</servlet-name>
        <servlet-class>Servlets.JEEprojetaccueiladmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetaccueiladmin</servlet-name>
        <url-pattern>/JEEprojetaccueiladmin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetendgames</servlet-name>
        <servlet-class>Servlets.JEEprojetendgames</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetendgames</servlet-name>
        <url-pattern>/JEEprojetendgames</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetGAMECHOICE</servlet-name>
        <servlet-class>Servlets.JEEprojetGAMECHOICE</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetGAMECHOICE</servlet-name>
        <url-pattern>/JEEprojetGAMECHOICE</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetgames</servlet-name>
        <servlet-class>Servlets.JEEprojetgames</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetgames</servlet-name>
        <url-pattern>/JEEprojetgames</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetinscription</servlet-name>
        <servlet-class>Servlets.JEEprojetinscription</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetinscription</servlet-name>
        <url-pattern>/JEEprojetinscription</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetjeuxencours</servlet-name>
        <servlet-class>Servlets.JEEprojetjeuxencours</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetjeuxencours</servlet-name>
        <url-pattern>/JEEprojetjeuxencours</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JEEprojetplayer</servlet-name>
        <servlet-class>Servlets.JEEprojetplayer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetplayer</servlet-name>
        <url-pattern>/JEEprojetplayer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JEEprojethome</servlet-name>
        <servlet-class>Servlets.JEEprojethome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojethome</servlet-name>
        <url-pattern>/JEEprojethome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JEEprojetplaying</servlet-name>
        <servlet-class>Servlets.JEEprojetplaying</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetplaying</servlet-name>
        <url-pattern>/JEEprojetplaying</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JEEprojetended</servlet-name>
        <servlet-class>Servlets.JEEprojetended</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JEEprojetended</servlet-name>
        <url-pattern>/JEEprojetended</url-pattern>
    </servlet-mapping>

</web-app>